<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DWSIM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="DWSIM"/>
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<DWSIM.My.MySettings>
   <setting name="UserUnits" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowTips" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RenderMode" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="PaletteMode" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="BackupFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="BackupActivated" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BackupInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="CultureInfo" serializeAs="String">
    <value>en</value>
   </setting>
   <setting name="ShowLangForm" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ChemSepDatabasePath" serializeAs="String">
    <value />
   </setting>
   <setting name="ReplaceComps" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RedirectOutput" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseCOPersistenceSupport" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SetCOSimulationContext" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckForUpdates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowDonateForm" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableParallelProcessing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxDegreeOfParallelism" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="EnableGPUProcessing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectedGPU" serializeAs="String">
    <value />
   </setting>
   <setting name="CudafyTarget" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CudafyDeviceID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MostRecentFiles" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="ShowCoolPropWarning" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolverMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ServiceBusConnectionString" serializeAs="String">
    <value />
   </setting>
   <setting name="DebugLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ServerIPAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="ServerPort" serializeAs="String">
    <value />
   </setting>
   <setting name="SolverTimeoutSeconds" serializeAs="String">
    <value>360</value>
   </setting>
  </DWSIM.My.MySettings>
</userSettings>
<startup useLegacyV2RuntimeActivationPolicy="false">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<runtime>
   <NetFx40_PInvokeStackResilience enabled="1"/>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <probing privatePath="plugins\other;plugins"/>
  </assemblyBinding>
</runtime>
</configuration>
